<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="test.firebase.application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_fingerprint_24px"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_fingerprint_24px"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fcm.FCMActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".storage.UploadFileAndImagesActivity">

        </activity>
        <activity android:name=".real_time_database.FirebaseRecyclerAdapterActivity">

        </activity>
        <activity android:name=".real_time_database.RealTimeDatabaseActivity"></activity>
        <activity android:name=".authentication.FirebaseUISigninActivity" />
        <activity android:name=".authentication.EmailPasswordActivity"></activity>
        <activity android:name=".authentication.FacebookSigninActivity"></activity>
        <activity android:name=".authentication.GoogleSigninActivity"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase_utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!-- &lt;!&ndash; Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <!-- See README(https://goo.gl/l4GJaQ) for more. &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/ic_launcher_foreground" /> -->
        <!-- &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming -->
        <!-- notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/colorAccent" /> -->
        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
        <!--            android:value="@string/default_notification_channel_id" />-->
    </application>

</manifest>